/* Colors I might use

Light Blue: #45aaf2
Medium Blue: #4b7bec
Dark Blue: #3867d6

Innuendo: #a5b1c2
Twinkle Blue: #d1d8e0

Opposites

Fusion Red: #fc5c65
Desire Red: #eb3b5a
transparent Desire Red: #eb3b5bab
Orange Hibiscus: #fd9644
transparent Hibiscus: #fd97448e
MORE transparent Hibis: #804e25b6
Orange Beniukon: #fa8231



Aqua: #3bebad
Lime: #b3eb3b
*/

// COLORS
// $color-primary: ;
$color-primary-light: #fd9644;
$color-primary-dark: #eb3b5a;

$color-secondary-light: #6dfdfd;
$color-secondary: #3bebad;

$color-tertiary: #b3eb3b;

$color-pink: #dd9ebd;
$color-purple: #9a9bd1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
